$copper             : #bb8b7d;
$everlane-grey      : #808284;
$dark-accent-grey   : #4c4c4b;
$medium-accent-grey : #a3a5a7;
$light-accent-grey  : #c6c8ca;
$tone-grey          : #f7f7f8;
$white              : #fff;
