@import 'mixins/font';
@import 'variables/colors';

.choose-credit-card-modal {
  padding: 20px;

  &__title {
    @include font(serif, 18px);
    text-align: center;
    color: $dark-accent-grey;
    border-bottom: 2px solid $tone-grey;
    padding-bottom: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__credit-card {
    width: 35%;
    margin-bottom: 20px;
  }
}
