@import 'mixins/font';
@import 'variables/colors';

.login-modal {
  position: relative;
  width: 60%;
  margin: 0 auto;
  min-height: 400px;
  padding-top: 70px;

  &__switch-link {
    position: absolute;
    bottom: 80px;
    width: 100%;
    @include font(sans-serif, 13px);
    color: $everlane-grey;
    text-decoration: underline;
    text-align: center;
  }
}
