@import "variables/colors";
@import "mixins/font";

.order-control-pannel {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__address-section,
  &__credit-card-section,
  &__shipping-options-section {
    width: 50%;
  }

  &__section-title {
    @include font(serif, 16px);
    color: $everlane-grey;
  }

  &__everlane-now-details {
    @include font(sans-serif, 12px);
    color: $medium-accent-grey;
    margin-bottom: 30px;
  }
}
