@font-face {
  font-family: 'Century Schoolbook';
  src: url('fonts/csb-regular.woff') format('woff');
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/graphik-regular.woff') format('woff');
}

@font-face {
  font-family: 'Everlane Sans';
  src: url('fonts/everlane-sans-bold.woff') format('woff');
}
